<html>
<head></head>
<body>
	<h1 id="username">Hello, </h1>
	<div id="wrapper">
	<div id="field_div">
	<form class="form1" action="/addMsg" method="POST" id="newMessages">		
		<input type="text" name="Textbox" class='input_text' placeholder='Enter Message!'>
		<input type="button" id="btn1" name="AddTextBox" value="Add new" class="btn_format" onclick="add_field();">
		<input type="submit" class="submit" align="center">
	</form>
	</div>
	</div>
	<script type="text/javascript">
		var username = JSON.parse('<%- user %>');
		document.getElementById("username").innerHTML += username;


		function add_field(){
  			var total_text=document.getElementsByClassName("input_text");
  			total_text=total_text.length+1;
  			document.getElementById("newMessages").innerHTML=document.getElementById("newMessages").innerHTML+ "<input type='text' name='newTextbox' class='input_text' id='input_text"+total_text+"' placeholder='Enter Message!'><input type='button' id='input_btn"+total_text+"' value='Remove' class='btn_format' onclick=remove_field("+total_text+");>";
		}

		function remove_field(id){
  			document.getElementById('input_text'+id).innerHTML="";
  			document.getElementById('input_text'+id).remove();
  			document.getElementById('input_btn'+id).innerHTML="";
  			document.getElementById('input_btn'+id).remove();
  			console.log('removed');
  			console.log(id);

		}

	</script>
	<link type="text/css" rel="stylesheet" href="/css/messagestyle.css">
</body>

</html>