<html>
<head></head>
<body>
	<h1 id="username">Hello, </h1>
	<div id="wrapper">
		<div style="width:50%; float:left; display:inline-block;" id="field_div">
			<form class="form1" action="/addMsg" method="POST" id="newMessages">		
				<input type="text" name="Textbox" class='input_text' placeholder='Enter Message!'>
				<input type="button" id="btn1" name="AddTextBox" value="Add new" class="btn_format" onclick="add_field();">
				<input type="submit" class="submit" align="center">
			</form>
		</div>


		<div style="width:50%; float:right; display:inline-block;" class="message_div">
			<header>
				<span class="left">Messages</span>
				<h2>Jonathan Ive</h2>
				<span class="right">Contact</span>
			</header>
			<div class="messages-wrapper" id="chat_area">
  				
			</div>
		</div>
	</div>


	<script type="text/javascript">
		let username = JSON.parse('<%- user %>');
		let message = JSON.parse('<%- storedMsg %>');
		for (let msgs of message){
			document.getElementById("chat_area").innerHTML+='<div class="message from">'+msgs.message+'</div>';
		}
		console.log()
		document.getElementById("username").innerHTML += username;
		let total_text=document.getElementsByClassName("input_text").length;


		function add_field(){
  			total_text=total_text+1;
  			let input_field = document.createElement("input");
  			input_field.type = "text";
  			input_field.name = "newTextbox";
  			input_field.className = 'input_text';
  			input_field.id='input_text'+total_text;
  			input_field.placeholder = 'Enter Message!';
  			document.getElementById("newMessages").appendChild(input_field);

  			let remove_btn = document.createElement("input");
  			remove_btn.type = "button";
  			remove_btn.id = 'input_btn'+total_text;
  			remove_btn.value = 'Remove';
  			remove_btn.className='btn_format';
  			remove_btn.setAttribute("onclick", "remove_field("+total_text+")");
  			document.getElementById("newMessages").appendChild(remove_btn);
		}

		function remove_field(id){
  			document.getElementById('input_text'+id).innerHTML="";
  			document.getElementById('input_text'+id).remove();
  			document.getElementById('input_btn'+id).innerHTML="";
  			document.getElementById('input_btn'+id).remove();
  			console.log('removed');
  			console.log(id);

		}

	</script>
	<link type="text/css" rel="stylesheet" href="/css/messagestyle.css">
</body>

</html>